.about h1 {
  margin-bottom: 2rem;
}

.about img {
  border: none;
  border-radius: 9999px;
  float: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  clear: none;
}

.about pre {
	border: none;
}

@media (min-width: 35.9375em) {
  .about img {
    width: 200px;
    float: left;
	clear: none;
    margin-right: 1rem;
    margin-top: -2rem;
  }
}
