--- 
layout: base.njk 
permalink: /blog/ 
title: Posts
---

<h1>{{ i18n.allposts }}</h1>

<div class="tags">
  {% include "tags-list.njk" %}
</div>

{% set postslist = collections.posts %}
{% include "posts-list.njk" %}
