--- 
layout: base.njk 
permalink: /meme/ 
title: Meme
---
<style>
table,tr,td { border-style:none; }
td { padding: 1px; padding-right: 8px;}
</style>
<div class="tags">
<hr>
{% for tag in collections.memes | sort(false, false, "data.title") %}
  <a href="{{ tag.url | url }}" class="post-tag">#{{ tag.data.title | d('huch') }}</a>
{% endfor %}
<hr>
</div>

<a href="/memes/meme-overview.html"><h1>{{ i18n.allmemes }}</h1></a>


<table  style="border-style:none">
{% for meme in collections.memes | sort(false, false, "data.title") %}
	<tr>
		<td><a href="{{ site.url }}{{ meme.url }}">{{ meme.data.title }}</a></td>
		<td>{{ site.url }}{{ meme.url }}</td>
	</tr>
{% endfor %}
</table>

